
* {
    padding: 0;
    margin: 0;
}


#container{
    display: inline-grid;
    border: 5px solid black;
    
}


#shake {
    min-width:  10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
}